<div id="<%= dom_id comment %>">
  <p>
    <strong>></strong>
    <%= comment.body %>
  </p>
  <p>
    <% if current_user == comment.user %>
      <%= button_to t('views.common.destroy', name: Comment.model_name.human.downcase), [@commentable, comment], method: :delete %>
    <% end %>
  </p>
</div>
