<h1><%= t('link.book_edit') %></h1>

<%= render "form", book: @book %>

<br>

<nav class="page-nav">
  <%= link_to t('link.book_show'), @book %> |
  <%= link_to t('link.book_back'), books_path %>
</nav>
